#!/usr/bin/env bash

########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes may be overwritten.
########################################################################

# Run josm in {{ comp }} mode

java -Djosm.home=`/.josm_{{ comp }} -jar {{ path }}/josm.jar'
