# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set tplroot = tpldir.split('/')[0] %}
{%- import_yaml tplroot ~ "/defaults.yaml" as default_settings %}
{%- import_yaml tplroot ~ "/osfamilymap.yaml" as osfamilymap %}

{%- set _config = salt['config.get'](tplroot, default={}) %}
{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default=tplroot,
      merge=salt['grains.filter_by']( osfamilymap, grain='os_family',
        merge=salt['grains.filter_by']( _config, default='lookup'
        )
      )
    )
%}
{%- set josm = salt['grains.filter_by']( {'defaults': defaults}, default='defaults', merge=_config) %}
{%- set url = '%s/%s/josm-%s.%s'|format(josm.pkg.uri, josm.pkg.tag, josm.version, josm.pkg.suffix) %}
{%- set dir = '%s-%s'|format(josm.pkg.name, josm.version) %}

{%- if josm.pkg.use_upstream_jar %}
       {%- do josm.config.update({'path': josm.dir.jar + '/' + dir }) %},
       {%- do josm.pkg.jar.update({'name': josm.dir.jar + '/' + dir, 'source': url }) %}
{%- endif %}

{%- if josm.pkg.use_upstream_macapp %}
       {%- do josm.config.update({'path': '/Applications' }) %},
       {%- do josm.pkg.macapp.update({ 'name': '/Applications', 'source': url }) %}
{%- endif %}
